.navbar-header, .navbar-nav{
  height: 52px;
}
.navbar-nav li:hover{
    background-color: rgba(207, 0, 15, 1);
    box-shadow: 0px 0px 20px rgba(207, 0, 15, 1);
    text-shadow: 0px 0px 10px rgba(207, 0, 15, 1);
}
.navbar-nav li{
    font-weight:bold;
    transition: all 0.3s ease;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 5.2rem;
    width:100%;
}
.modal-content{
    top: 50px;
}
.h3, h3 {
    text-align: center;
}
#loginBtn{
    font-weight:bold;
    transition: all 0.3s ease;
}
#loginBtn:hover{
    background-color: rgba(207, 0, 15, 1);
    box-shadow: 0px 0px 20px rgba(207, 0, 15, 1);
    text-shadow: 0px 0px 10px rgba(207, 0, 15, 1);
}
#aprofpic {
  padding-top: 10px;
  padding-bottom: 10px;
}
#profpic {
    border-radius: inherit;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
}
