.container {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 5.2rem;
    padding-bottom: 3rem;
    width:100%;
}
.modal-content{
    top: 50px;
}
button.close{
    padding-top: 7.5px;
    padding-right: 20px;
}
.close{
    font-size: 30px;
}
.h3, h3 {
    text-align: center;
}
.navbar-nav li:hover{
    background-color: rgba(207, 0, 15, 1);
    box-shadow: 0px 0px 20px rgba(207, 0, 15, 1);
    text-shadow: 0px 0px 10px rgba(207, 0, 15, 1);
}
.navbar-nav li{
    font-weight:bold;
    transition: all 0.3s ease;
}
#first{
    background-image: url("background.png");
    background-size:100%;
    background-repeat: no-repeat;
    height: 70%;
}
.featurette-divider {
    margin: 1px 0; /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
.col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    top: 80px;
    left: 10%;
    color: white;
}
.round-button {
    box-sizing: border-box;
    display:inline-block;
    width:80px;
    height:80px;
    padding-top: 14px;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 20px;
    border: 6px solid #fff;
    border-radius: 50%;
    color:#f5f5f5;
    text-decoration:none;
    background-color: rgba(0,0,0,0.5);
    font-weight:bold;
    transition: all 0.3s ease;
    text-align: center
}
.round-button:hover{
    background-color: rgba(207, 0, 15, 1);
    box-shadow: 0px 0px 20px rgba(207, 0, 15, 1);
    text-shadow: 0px 0px 10px rgba(207, 0, 15, 1);
}
#icon{
    font-size: 40px;
    color:#f5f5f5;
}
#loginBtn{
    font-weight:bold;
    transition: all 0.3s ease;
}
#loginBtn:hover{
    background-color: rgba(207, 0, 15, 1);
    box-shadow: 0px 0px 20px rgba(207, 0, 15, 1);
    text-shadow: 0px 0px 10px rgba(207, 0, 15, 1);
}
